* {
  background-color: hsl(180, 0%, 42%); /*gray*/
}

html {
  margin: 7px;
}

header {
  font-family: Arvo, sans-serif;
  padding-top: 20px;
  padding-bottom: 12px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

h2 {
  padding-top: 8px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

main {
  background-color: hsl(232, 84%, 70%);
  border: solid 5px;
  border-color: white;
  border-radius: 18px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  text-indent: 16px;
  overflow: hidden;
}

p:first-of-type {
  font-weight: 400;
  padding-top: 12px;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(2) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(3) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(4) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(5) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(6) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(7) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(8) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:nth-child(9) {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}

p:last-of-type {
  font-weight: 400;
  padding-left: 2px;
  padding-bottom: 12px;
  padding-right: 2px;
}
