header {
  font-size: larger;
  font-weight: bold;
  font-family: Arial;
}


h1 {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 4px 3px white;
  color: #003759 ;
  margin-left: 50px ;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}
h2 {
  color: #FFFF97;
  font-style: italic;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  margin-left: 80px;
}
.secondpagetitle {
  color: #FF0080;
  font-style: italic;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  margin-left: 80px;
  margin-bottom: 15px;
}
.informationheader {
  margin-bottom: 30px;
  margin-left: 70px;
  font-family: Helvetica, sans-serif;
  text-align: justify;
  font-style: italic;
}

body {
  background-color: #ADF4FF  ;
}

img {
  border-radius: 20%;
  float: left;
  height: 150px;
  width: 300px;
  border: solid;
  border-width:3px;
  border-color: black;
}

.contenedor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  text-shadow: 3px 2px gray;
  height: 180px;
  width: 800px;
  margin-top: 20px;
  margin-left: 80px;
  padding-left: 20px;
  padding-top: 10px;
}
.contentcontenedor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  text-shadow: 3px 2px gray;
  height: 100px;
  width: 600px;
  margin-top: 65px;
  margin-left: 350px;
}
a:link{
  color: blue;
}
a:visited {
  color: yellow;
}
a:hover {
 color: pink;
}
a:actived {
 color: auto;
}

 p {
  margin-left: 100px;
  margin-right: 100px;
  font-family: Helvetica, sans-serif;
  line-height: 2;
  font-size: large;
  text-align: justify;
}
.pf1 {

}
.contenedorimgpagsec {
  border-radius: 20%;
  float: left;
  height: 150px;
  width: 300px;
  margin-left: 100px;
  margin-top: 20px;
  position: absolute;
}
ul.ula {
  list-style-type: circle;
  margin-left: 100px;
}
.imgDieter {
  height: 125px;
  float: right;
  border: none;
  border-radius: 0%;
  width: auto;

}
footer {
  width: 600px;
}
.informationfooter {
  margin-top: 200px;
  margin-bottom: 100px;
  font-style: italic;
  font-size: large;
  font-family: Helvetica, sans-serif;
}
