/* Make the text color just a tinge lighter than true black */
html {
  text-color: #222;
}

header {
  background-color: #ccc;
  font-family: Arvo, sans-serif;
}

h1 {
  font-weight: 700;
  font-style: bold;
}

main {
  background-color: hsl(232, 84%, 70%);
  font-family: Lato, sans-serif;
}

p:first-of-type {
  font-weight: 400;
}

p:nth-child(2){
  font-weight: 400;
}
